.lead {
  max-width: 100vw;
  order: 2;
  position: relative;
  text-align: center;
  top: 3.1rem;
  width: 100%;

  &--img {
    font-size: 10rem;

    /* --tablet */
    @media (width <= 768px) {
      font-size: 6.5rem;
    }

    /* --mobileL */
    @media (width <= 425px) {
      font-size: 5rem;
    }

    /* --mobileM */
    @media (width <= 375px) {
      font-size: 4rem;
    }

    /* --mobileS */
    @media (width <= 320px) {
      font-size: 3rem;
    }
  }

  &--text {
    color: rgba(0, 0, 0, 0.6);
    font-size: x-large;
    padding: 1rem;
  }
}
