/* stylelint-disable selector-no-universal */
/* Reset CSS */
* {
  border: initial;
  font: initial;
  margin: initial;
  padding: initial;
}
/* stylelint-enable selector-no-universal */

/* stylelint-disable selector-no-universal */
/* Easy to use flexbox */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* stylelint-enable selector-no-universal */

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/** @define utilities */

.util {
  &--flexContainer {
    display: flex;
  }

  &--flex {
    &__row {
      flex-flow: row wrap;
    }

    &__column {
      flex-flow: column wrap;
    }

    &__justifySpaceBetween {
      justify-content: space-between;
    }

    &__alignItems {
      align-items: center;
    }
  }

  &--flexItem {
    display: block;
    flex: 1 100%;
  }

  &--inlineFlexContainer {
    display: inline-flex;
    width: 100%;
  }

  &--inlineFlexItem {
    display: inline-block;
  }

  &--fixed {
    position: fixed;
    width: 100%;
  }

  &--zindex {
    &__1 {
      z-index: 1;
    }

    &__2 {
      z-index: 2;
    }

    &__3 {
      z-index: 3;
    }

    &__4 {
      z-index: 4;
    }

    &__5 {
      z-index: 5;
    }
  }

  &--background {
    &__color {
      background: #fafafa;
    }

    &__primaryColor {
      &700 {
        background: rgba(25, 118, 210, 1);
        color: white;
      }

      &600 {
        background: rgba(30, 136, 229, 1);
        color: white;
      }

      &500 {
        background: rgba(33, 150, 243, 1);
        color: white;
      }
    }
  }

  &--card__color {
    background: white;
  }

  &--shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
  }
}
