.post {
  overflow-wrap: break-word;
  padding: 1rem;

  &--title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &--footer {
    margin-top: 1rem;
    text-align: right;
  }
}
